{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {{ title }}
    </h2>

    {% if post.authors %}
      <p class="page__meta" style="margin-top: 5px; margin-bottom: 5px; font-size: 0.95em; color: #555;">
        <i class="fas fa-users" aria-hidden="true"></i> {{ post.authors }}
      </p>
    {% endif %}
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    <p class="page__meta" style="margin-top: 5px; color: #666;">
        {% if post.collection == 'teaching' %}
          {% if post.level %}{{ post.level }}, {% endif %}<i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <i>{{ post.venue }}</i>, <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ post.date | default: "1900-01-01" | date: "%Y" }}
        
        {% elsif post.collection == 'publications' %}
          {% if post.category == 'talks' %}
            <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <i>{{ post.venue }}</i> &nbsp; <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ post.date | default: "1900-01-01" | date: "%Y" }}
          {% else %}
            Published in <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <i>{{ post.venue }}</i>, <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ post.date | default: "1900-01-01" | date: "%Y" }}
          {% endif %}
        
        {% elsif post.collection == 'activities' %}
          {% if post.venue %}
            <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <i>{{ post.venue }}</i> &nbsp; 
          {% endif %}
          <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> 
          {% if post.date_string %}
            {{ post.date_string }}
          {% else %}
            {{ post.date | date: "%Y" }}
          {% endif %}
        
        {% elsif post.date %}
          <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time>
        {% endif %}
    </p>

    {% if post.excerpt and site.read_more != 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.collection == 'activities' %}
      <p>
      {% if post.videourl %}
        <a href="{{ post.videourl }}" class="btn btn--danger btn--small"><i class="fas fa-play-circle" aria-hidden="true"></i> Watch Recording</a>
      {% endif %}
      {% if post.infourl %}
        <a href="{{ post.infourl }}" class="btn btn--info btn--small"><i class="fas fa-info-circle" aria-hidden="true"></i> More Info</a>
      {% endif %}
      </p>

    {% elsif post.category == 'talks' %}
      <p>
      {% if post.videourl %}
        <a href="{{ post.videourl }}" class="btn btn--danger btn--small"><i class="fas fa-play-circle" aria-hidden="true"></i> Watch Recording</a>
      {% endif %}
      {% if post.slidesurl %}
        <a href="{{ post.slidesurl }}" class="btn btn--info btn--small"><i class="fas fa-desktop" aria-hidden="true"></i> Download Slides</a>
      {% endif %}
      </p>
    
    {% else %}
      {% if post.citation or post.paperurl or post.slidesurl or post.bibtexurl or post.codeurl %}
        <p style="margin-top: 10px;">
        {% if post.citation %}
          Recommended citation: {{ post.citation }}<br />
        {% endif %}
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}" class="btn btn--info btn--small"><i class="fas fa-file-pdf" aria-hidden="true"></i> Download Paper</a>
        {% endif %}
        {% if post.slidesurl %}
          <a href="{{ post.slidesurl }}" class="btn btn--info btn--small"><i class="fas fa-desktop" aria-hidden="true"></i> Download Slides</a>
        {% endif %}
        {% if post.codeurl %}
          <a href="{{ post.codeurl }}" class="btn btn--info btn--small"><i class="fas fa-code" aria-hidden="true"></i> Download Code</a>
        {% endif %}
        {% if post.bibtexurl %}
          <a href="{{ post.bibtexurl }}" class="btn btn--info btn--small"><i class="fas fa-file-code" aria-hidden="true"></i> Download Bibtex</a>
        {% endif %}
        </p>
      {% endif %}
    {% endif %}

  </article>
</div>
